<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vagas | Candidato</title>
</head>
<body class="bg-gray-900 text-white h-screen w-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center">
        <div class="flex gap-10">
          <a href="/candidate/profile" target="_blank" rel="noopener noreferrer" class="hover:text-white/70">
            Perfil do Candidato
          </a>
          <a href="/candidate/jobs" target="_blank" rel="noopener noreferrer" class="hover:text-white/70">
            Vagas Disponíveis
          </a>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="flex py-10 md:py-20 justify-center">
    <form class="flex">
      <input type="text" name="filter" placeholder="Pesquisar vagas..." 
            class="flex px-4 py-2 w-[300px] md:w-[500px] rounded-md border border-gray-600 bg-gray-800 text-white 
            focus:outline-none focus:ring-2 focus:ring-red-500" 
            th:value="${filter}"
      >

      <button type="submit" 
            class="ml-2 px-4 py-2 bg-red-600 rounded-md hover:bg-red-700 focus:outline-none 
            focus:ring-2 focus:ring-red-500"
      >
        Pesquisar
      </button>
    </form>

    <form th:action="@{/candidate/jobs/apply}" method="post">
      <div th:if="${jobs != null}" class="mt-10 w-full max-w-md justify-center items-center">
        <input type="hidden" name="jobId" th:value="${job.id}" />
        <ul class="space-y-6">
          <li th:each="job : ${jobs}" class="p-6 bg-gray-800 rounded-lg shadow-md">
            <p th:text="${job.description}"></p>
            <p th:text="${job.benefits}"></p>
            <p th:text="${job.level}"></p>
            <p th:text="${job.companyId}"></p>
            <p th:text="${#dates.format(job.createdAt, 'dd/MM/yyyy')}"></p>
          </li>
        </ul>
        <button type="submit" class="mt-4 px-4 py-2 bg-red-600 rounded-md hover:bg-red-700 focus:outline-none 
                  focus:ring-2 focus:ring-red-500">
          Aplicar
        </button>
        </div>
    </form>
  </div>
</body>
</html>