<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Empresa</title>
</head>
<body class="bg-gray-900 text-white h-screen w-full">
  <section class="flex flex-col h-full justify-center items-center">
    <h2 class="text-4xl font-semibold text-center py-12">
      Plataforma de Vagas
    </h2>
    <div class="flex flex-col justify-center items-center h-full">
      <form id="submitForm" action="" method="post" th:action="@{/company/create}" th:object="${company}">
        <div>
          <h3 class="text-2xl">Criar perfil do Empresa</h3>
        </div>
        <div class="flex flex-col gap-4 mt-8">
          <label for="name">Nome da Empresa</label>
          <input type="text" id="name" name="name" placeholder="Nome da Empresa" th:field="*{name}"
            class="bg-transparent border-b border-white focus:outline-none focus:border-red-500 
            pb-2 text-lg w-[300px] md:w-[600px]"
          >

          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Username da Empresa" th:field="*{username}"
            class="bg-transparent border-b border-white focus:outline-none focus:border-red-500 
            pb-2 text-lg w-[300px] md:w-[600px]"
          >

          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" placeholder="E-mail" th:field="*{email}"
            class="bg-transparent border-b border-white focus:outline-none focus:border-red-500 
            pb-2 text-lg w-[300px] md:w-[600px]"
          >

          <label for="website">Website</label>
          <input type="text" id="website" name="website" placeholder="Website da Empresa" th:field="*{website}"
            class="bg-transparent border-b border-white focus:outline-none focus:border-red-500 
            pb-2 text-lg w-[300px] md:w-[600px]"
          >

          <label for="description">Descrição</label>
          <textarea id="description" name="description" placeholder="Faça uma breve descrição sobre a empresa"
            class="bg-transparent border-b border-white focus:outline-none focus:border-red-500 
            pb-2 text-lg w-[300px] md:w-[600px] h-28 resize-none" th:field="*{description}"
          ></textarea>
          
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" placeholder="Senha" th:field="*{password}"
            class="bg-transparent border-b border-white focus:outline-none focus:border-red-500 
            pb-2 text-lg w-[300px] md:w-[600px]"
          >

          <label for="confirmPassword">Confirme a Senha</label>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirme a Senha"
            class="bg-transparent border-b border-white focus:outline-none focus:border-red-500 
            pb-2 text-lg w-[300px] md:w-[600px]"
          >

          <p class="text-red-400" id="error-message" style="display: none;">
            As senhas não coincidem. Por favor, tente novamente.
          </p>

          <p class="text-red-400" th:text="${error_message}" th:if="${error_message}"></p>
          <button type="submit" 
            class="text-center mx-auto w-[300px] bg-red-600 rounded-lg px-8 py-4 hover:bg-red-700 transition-colors 
            mt-6 font-semibold text-xl"
          >
            Criar Perfil
          </button>
          <a href="/company/login" rel="noopener noreferrer"
            class="text-white/70 text-xl underline underline-offset-4 hover:text-white/50 text-center"
          >
            Login
          </a>
        </div>
      </form>
    </div>
  </section>
</body>
<script>
  const form = document.getElementById('submitForm');

  form.addEventListener('submit', function(event) {
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;

    if (password !== confirmPassword) {
      event.preventDefault();
      alert('As senhas não coincidem. Por favor, tente novamente.');
      document.getElementById('error-message').style.display = 'block';
    } else {
      document.getElementById('error-message').style.display = 'none';
    }
  });
</script>
</html>