<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vagas | Empresa</title>
</head>
<body class="bg-gray-900 text-white h-screen w-full">
  <section class="flex flex-col h-full justify-center items-center">
    <h2 class="text-4xl font-semibold text-center pt-12">
      Plataforma de Vagas
    </h2>
    <div class="flex flex-col justify-center items-center h-full">
        <h3 class="text-2xl">Vagas da Empresa - Em Construção</h3>  
    </div>
  </section>
</body>
</html>