<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vagas | Empresa</title>
</head>
<body class="bg-gray-900 text-white h-screen w-full flex flex-col">

  <nav class="bg-zinc-900 p-4 flex justify-between items-center">
    <div class="">
      <a href="/company/jobs" class="text-white text-lg font-semibold">Cadastro</a>
    </div>
    <div class="">
      <a href="/company/jobs/list" class="text-white text-lg font-semibold">Listagem</a>
      </div>
      <div class="">
        <a href="/company/logout" class="text-white text-lg font-semibold">Logout</a>
    </div>
  </nav>

  <div class="flex-grow flex items-center justify-center">
    <div class="bg-gray-200 rounded-lg p-8 w-3/4 max-w-xl shadow-lg">
      <h1 class="text-gray-800 text-3xl mb-6">
        Cadastro de Vagas
      </h1>

      <form th:action="@{/company/jobs}" th:object="${jobs}" method="post" class="space-y-4">
        <div class="">
          <label for="description" class="text-gray-700">
            Descrição da Vaga:
          </label>
          <input th:field="*{description}" type="text" id="description" name="description"
            placeholder="Descreva a vaga..." class="w-full bg-gray-100 text-gray-800 text-lg rounded p-2 focus:outline-none focus:ring-2 
              focus:ring-red-500" />
        </div>
        <div class="">
          <label for="level" class="text-gray-700">
            Nível da Vaga:
          </label>
          <input th:field="*{level}" type="text" id="level" name="level" placeholder="Descreva o nível da vaga..."
            class="w-full bg-gray-100 text-gray-800 text-lg rounded p-2
            focus:outline-none focus:ring-2 focus:ring-red-500" />
        </div>
        <div class="">
          <label for="benefits" class="text-gray-700">
            Benefícios da Vaga:
          </label>
          <input th:field="*{benefits}" type="text" id="benefits" name="benefits"
            placeholder="Descreva os benefícios da vaga..." class="w-full bg-gray-100 text-gray-800 text-lg rounded p-2
            focus:outline-none focus:ring-2 focus:ring-red-500" />
        </div>

        <div>
          <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition">
            Cadastrar Vaga
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>